.search-bar{
    margin-top: 30px;
    margin-left: 40px;
    width: 50%;
    border-radius: 12px;
    height: 40px;
    outline: none;
    border-color: navy;
}

.boton{
    margin-left: 20px;
    padding: 10px;
    background: navy;
    border-radius: 12px;
    border: none;
    width: 100px;
    color: white;
}